*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

#logo{
    font-weight: 600;
}

#logo-sign-inpage{
    font-weight: 600;
}

#menu-kiri li a{
    color: #000000;
    transition: 0.5s;
}

#menu-kiri li a:hover{
    color: #344CB7;
}

#menu-kanan li a{
    color: #000000;
    transition: 0.5s;
}

#menu-kanan li a:hover{
    color: #344CB7;
}

/* .weekly .tombol button{
    margin-right: auto;
    align-items: end;
    text-align: end;
    justify-content: end;
} */

.img1 img{
    width: 600px;
    height: 450px;
}

.img2 img{
    width: 200px;
    margin-bottom: 20px;
}

.healty{
    margin-left: 20px;
}

.healty h3{
    margin-left: 20px;
}

.img-healty1 img{
    margin-top: 50px;
    width: 150px;
}


.img-healty2 img{
    margin-top: 50px;
    width: 150px;
    margin-left: 30px;
    margin-right: 30px;
}


.img-healty3 img{
    margin-top: 50px;
    width: 150px;
    margin-left: 60px;
    margin-right: 30px;
}


.img-healty4 img{
    margin-top: 100px;
    width: 150px;
    margin-right: 70px;
}


.img-healty5 img{
    margin-top: 100px;
    width: 150px;
    margin-left: 30px;
    margin-right: 30px;
}


.img-healty6 img{
    margin-top: 100px;
    width: 150px;
    margin-left: 60px;
    margin-right: 30px;
}


.img-popular1{
    width: 10px;
}


/* mobile */
@media only screen and (max-width: 500px) {
   .email input{
    width: 60%;
    margin: auto;
   }

    .roti-telor1 img{
        margin-bottom: 25px;
    }

    .roti-telor2 img{
        margin-bottom: 25px;
    }

    .avatar img{
        margin-left: 70px;
    }

    .orang{
        margin-left: 40px;
    }

    .explore button{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 13px;
    }

    .form-login h3{
        margin-top: 55px;
    }

    .form-login img{
        margin-bottom: 10px;
    }

    .img1 img{
        margin-top: 30px;
        width: 310px;
        height: 200pxs;
    }

    .img2 img{
        margin-top: 40px;
        width: 350px;
    }

    .healty h3{
        font-size: 28px;
        margin-left: -7px;
    }

    .img-healty1 img{
        width: 200px;
        margin-left: 70px;
    }
    .img-healty2 img{
        width: 200px;
        margin-left: 70px;
    }
    .img-healty3 img{
        width: 200px;
        margin-left: 70px;
    }
    .img-healty4 img{
        width: 200px;
        margin-left: 70px;
    }
    .img-healty5 img{
        width: 200px;
        margin-left: 70px;
    }
    .img-healty6 img{
        width: 200px;
        margin-left: 70px;
    }

    .img-popular1{
        margin-bottom: 25px;
    }
    .img-popular2{
        margin-bottom: 25px;
    }
    .img-popular3{
        margin-bottom: 25px;
    }
}

/* Desktop Screen */
@media only screen and (min-width: 992px) {
    .logo1{
        margin-right: 30px;
    }

    .logo-sign-in{
        margin-right: 30px;
    }
    
    .roti-telor1 img{
        margin-right: 2px;
    }
    
    .roti-telor2 img{
        margin-left: 20px;
        margin-right: 100px;
    }
    
    .avatar img{
        margin-left: 60px;
    }

    .explore button{
        margin-left: 200px;
    }

    .form-login h3{
        margin-top: -45px;
    }

    .form-login img{
        margin-top: 45px;
    }
}

/* High Screen Resolution */
@media only screen and (min-width: 995px) {
    .roti-telor1 img{
        margin-right: 1px;
    }
}

/* Tablet Screen */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    #logo{
        margin-right: 2000px;
    }

    .explore h3{
        font-size: 10px;
    }

    .logo1{
        margin-right: 30px;
    }
    
    .roti-telor1 img{
        margin-right: 2px;
    }
    
    .roti-telor2 img{
        margin-left: 20px;
        margin-right: 100px;
    }
    
    .avatar img{
        margin-left: 60px;
    }

    .explore button{
        margin-left: 200px;
    }

    .img1 img{
        margin-left: 10px;
        width: 970px;
    }

    .img2{
        margin-left: 20px;
        margin-top: 30px;
    }

    .img2 img{
        border-radius: 30px;
        margin-top: 10px;
    }
}
