.navbar{
    background-color: #183354;
    height: 2.5rem;
}

.nav1 .collapse{
    font-weight: 500;
}

.nav1 .collapse ul li a{
    color: white;
    transition: 0.5s;
}

.nav1 .collapse ul li a:hover{
    color: #FF7F3E;
}

.navbar2 .navbar{
    height: 6rem;
}

.navbar2 .navbar-nav .nav-item a{
    font-weight: 500;
    color: #000000;
    transition: 0.5;
}

.navbar2 .navbar-nav .nav-item a:hover{
    color: #FF7F3E;
}

.navbar2 form{
    border-radius: 30px;
}

.navbar2 .ul-kiri-nav2 .navbar-nav .nav-item a{
    color: #000000;
    transition: 0.5;
}

.navbar2 .ul-kiri-nav2 .navbar-nav .nav-item a:hover{
    color: #FF7F3E;
}

/* .dropdown-menu li a{
    color: #FF7F3E;
} */

/* .contact-login .contact li a{
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5;
}

.contact-login .contact li a:hover{
    color: #FF7F3E;
}

.contact-login .login li a{
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5;
}

.contact-login .login li a:hover{
    color: #FF7F3E;
} */

.email{
    background-color: azure;
    border-radius: 10px;
}

.email button{
    font-weight: 500;

}