*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

#logo{
    font-weight: 600;
}

#logo-sign-inpage{
    font-weight: 600;
}

#menu-kiri li a{
    color: #000000;
    transition: 0.5s;
}

#menu-kiri li a:hover{
    color: #344CB7;
}

#menu-kanan li a{
    color: #000000;
    transition: 0.5s;
}

#menu-kanan li a:hover{
    color: #344CB7;
}


/* mobile */
@media only screen and (max-width: 600px) {
   .email input{
    width: 60%;
    margin: auto;
   }

    .roti-telor1 img{
        margin-bottom: 25px;
    }

    .roti-telor2 img{
        margin-bottom: 25px;
    }

    .avatar img{
        margin-left: 70px;
    }

    .orang{
        margin-left: 40px;
    }

    .explore button{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 13px;
    }

    .form-login h3{
        margin-top: 55px;
    }

    .form-login img{
        margin-bottom: 10px;
    }
}

/* Desktop Screen */
@media only screen and (min-width: 992px) {
    .logo1{
        margin-right: 30px;
    }

    .logo-sign-in{
        margin-right: 30px;
    }
    
    .roti-telor1 img{
        margin-right: 2px;
    }
    
    .roti-telor2 img{
        margin-left: 20px;
        margin-right: 100px;
    }
    
    .avatar img{
        margin-left: 60px;
    }

    .explore button{
        margin-left: 200px;
    }

    .form-login h3{
        margin-top: -45px;
    }

    .form-login img{
        margin-top: 45px;
    }
}

/* High Screen Resolution */
@media only screen and (min-width: 995px) {
    .roti-telor1 img{
        margin-right: 1px;
    }
}

/* Tablet Screen */
@media screen and (min-width: 800px) and (max-width: 900px) {
    #logo{
        margin-right: 2000px;
    }

    .explore h3{
        font-size: 10px;
    }

    .logo1{
        margin-right: 30px;
    }
    
    .roti-telor1 img{
        margin-right: 2px;
    }
    
    .roti-telor2 img{
        margin-left: 20px;
        margin-right: 100px;
    }
    
    .avatar img{
        margin-left: 60px;
    }

    .explore button{
        margin-left: 200px;
    }
}
